@media only screen and (min-width:1700px) {
    .img-outer {
        height: 320px;
    }
}

@media only screen and (min-width:992px) and (max-width:1399px){
    .dates {
        padding: 8px 2px;
    }
    header .navbar, .breadcrumb, .plr-80{
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    .hero-txt h1 {
        font-size: 68px;
        line-height: 85px;
    }
    .pos-title {
        font-size: 19px;
    }
    .hero-txt {
        max-width: 920px;
    }
    .banner-input-rule {
        font-size: 26px;
    }
        
}

@media only screen and (min-width:768px) and (max-width:991px){
    .tab-sorting a {
        padding: 8px 6px;
        font-size: 11px;
    }
    .navbar-collapse {
        background: #444;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 99;
        right: 0;
    }
    header .navbar {
        padding-left: 40px;
        padding-right: 40px;
    }
    .plr-80 {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
    .hero-txt h1 {
        font-size: 60px;
        line-height: normal;
    }
    header .navbar {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: row-reverse;
    }
    header .fa-bars {
        color: #fff;
        font-size: 28px;
    }
    .navbar-light .navbar-toggler {
        border: none;
    }
    .navbar-light .navbar-toggler:focus{
        background: transparent !important;
        box-shadow: none !important;
    }
    .navbar-collapse {
        background: #444;
    }
    header .navbar-light .navbar-text {
        padding: 8px 0;
        display: block;
        width: 100%;
    }
    header .navbar-light .navbar-text a {
        padding: 0 22px !important;
    }
    ul.navbar-nav {
        align-items: center;
        padding: 21px 0;
    }
    .great-offers input[type="text"] {
        max-width: 200px;
    }
    .banner-input-rule {
        font-size: 26px;
    }
    .find {
        font-size: 26px;
    }
    .hero-image {
        height: 70vh;
    }
    .img-outer {
        margin-bottom: 22px;
        height: 180px;
    }
    .about {
        padding: 70px 70px;
    }
    .section-title + p {
        font-size: 26px;
    }
    .tick-outer {
        margin-top: 70px;
    }
    .logos-sec li img {
        width: 79%;
    }
    .card-title {
        font-size: 18px;
        line-height: normal;
    }
    .room-desc ul {
        margin-top: 23px;
    }
    /* .mobView{
        padding: 0 7px;
    } */
}

@media only screen and (max-width:767px){
    .yourTrip {
        margin-top: 24px;
    }
    .half-width {
        width: 100%;
    }
    .radioGroup {
        width: 100%;
    }
    .payment-page>.row {
        flex-direction: column-reverse;
    }
    .rating-bar-inner {
        justify-content: flex-start;
        flex-direction: column;
    }
    .rating-bar-inner h4 {
        width: 100%;
    }
    .rating-bar {
        width: 100%;
    }
    .rating-bar-inner:last-child {
        margin-bottom: 16px;
    }
    .guest-rating-inner:first-child{
        margin-top: 32px;
    }
    .room-desc-inner {
        padding: 0 16px;
        display: inline-block;
    }
    .contactUs iframe {
        height: 216px;
    }
    .contactUs {
        margin-top: 0;
    }
    .alert-outer {
        margin-bottom: 0;
    }
    .contactUs-txt {
        flex-direction: column;
    }
    .room-desc {
        margin-top: 0;
    }
    .book-stay-wrapper {
        padding: 0;
    }
    .border-bottom.mobView {
        border: none !important;
    }
    .mobView {
       float: left;
        vertical-align: top;
    }
    .room-features {
        padding-left: 0;
        padding-right: 0;
    }
    .right-border {
        border-right: none;
    }
    .room-desc ul {
        margin-top: 30px;
    }
    .room-details {
        display: none;
    }
    .property-pics-mob{
        display: block;
    }
    .property-pics-outer{
        display: none;
    }
    .navbar-collapse {
        background: #444;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 99;
        right: 0;
    }
    .hotel-room h6, .hotel-request, .availability{
        display: none !important;
    }
    .top-bar{
        display: none;
    }
    .access {
        display: inline-block !important;
    }
    .hotel-rating h4 {
        display: flex;
        flex-direction: column-reverse;
    }
    .rating {
        margin-left: 0;
        margin-right: 8px;
    }
    .review {
        justify-content: flex-end;
        align-items: center;
        flex-direction: row-reverse;
    }
    .hotel-rating h4 span {
        margin-right: 11px;
        display: inline-block;
        text-align: left;
        width: 100%;
    }
    .hero-txt h1 {
        font-size: 33px;
        line-height: 36px;
    }
    header .navbar {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: row-reverse;
    }
    header .fa-bars {
        color: #fff;
        font-size: 28px;
    }
    .navbar-light .navbar-toggler {
        border: none;
    }
    .navbar-light .navbar-toggler:focus{
        background: transparent !important;
        box-shadow: none !important;
    }
    .navbar-collapse {
        background: #444;
    }
    .hero-txt h1 + p {
        font-size: 18px;
    }
    .great-offers input[type="text"] {
        background: #2BFFFA;
        font-size: 16px;
        padding: 0;
        min-height: 42px;
        text-align: center;
        border-radius: 4px;
    }
    .great-offers .input-group {
        flex-direction: column;
    }
    .great-offers .form-inline {
        background: transparent;
    }
    .great-offers button.btn-primary {
        padding: 0;
        min-height: 42px;
        margin-top: 8px;
        margin-bottom: 0;
        border-radius: 4px;
        font-size: 16px;
        background: #2BFFFA;
        width: 100%;
        text-align: center;
    }
    .great-offers button.find {
        padding: 0 !important;
        line-height: normal;
        background-color: #00B2AD;
    }
    .section-title {
        font-size: 33px;
        line-height: normal;
    }
    .section-title + p {
        font-size: 18px;
        line-height: normal;
    }
    .plr-80 {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
    .images-blocks {
        margin-top: 32px;
    }
    .img-outer {
        margin-bottom: 8px;
        height: 100px;
    }
    .pos-title {
        font-size: 16px;
    }
    .great-offers input[type="text"] {
        max-width: 100%;
        min-width: 250px;
    }
    .miss-out {
        padding: 170px 0 60px;
    }
    .about {
        padding: 60px 0;
    }
    .about-inner {
        margin-top: 32px;
    }
    .about .card-body {
        padding: 32px 0 0;
    }
    .about .block-outer:not(:first-child) {
        margin-top: 60px;
    }
    .tick-outer .text-left:not(:last-child) {
        margin-bottom: 40px;
    }
    .tick-outer {
        margin-top: 80px;
    }
    .logos-sec ul {
        display: inline-block !important;
    }
    .logos-sec li img{
        max-width: 100%;
    }

    .logos-sec li {
        list-style: none;
        width: 50%;
        display: inline-block;
        margin-bottom: 41px;
        text-align: center;
    }
    .logos-sec li:last-child{
        width: 100%;
        margin-bottom: 0;
    }
    .logos-sec {
        padding: 70px 0 28px;
    }
    .list-property a {
        display: block;
    }
    .list-property a:first-child {
        max-width: 200px;
        margin: 0 auto 32px;
    }
    .property-owner {
        padding: 60px 0;
    }
    .follow {
        padding: 60px 0;
    }
    .social-icons a {
        width: 48px;
        height: 48px;
        font-size: 27px;
    }
    .social-icons {
        margin-top: 26px;
    }
    .contact-us {
        margin-top: 40px;
    }
  .footer-logo {
        text-align: center;
        margin-bottom: 60px;
    }
    .footer-logo p{
        display: none;
    }
    .footer-list {
        max-width: 50%;
        width: 50% !important;
        flex-basis: auto;
        margin-bottom: 40px;
    }
    .mob-block{
        display: block;
    }
    header .navbar-light .navbar-text {
        padding: 8px 0;
        display: block;
        width: 100%;
    }
    header .navbar-light .navbar-text a {
        padding: 0 22px !important;
    }
    ul.navbar-nav {
        align-items: center;
        padding: 21px 0;
    }
}